<app-navbar></app-navbar>

<div class="media-container">
  <div *ngFor="let media of mediaList" class="article" [@fadeInOut]>
    <h1 class="article-title">title:- {{ media.title }}</h1>
    <div class="article-content">
      <ng-container *ngIf="media.fileType === 'video/mp4'">
        <iframe width="250" height="140" [src]="media.contentPath | safe" frameborder="0" allowfullscreen></iframe>
      </ng-container>

      <ng-container *ngIf="media.fileType === 'application/pdf'">
        <object [data]="media.contentPath | safe" type="application/pdf" width="100%" height="140px">
          <p>Your browser does not support PDFs. <a [href]="media.contentPath | safe">Download the PDF</a> instead.</p>
        </object>
      </ng-container>

      <ng-container *ngIf="media.fileType.startsWith('image/')">
        <img [src]="media.contentPath | safe" alt="Article Image" class="article-image"> 
      </ng-container>
      
      <ng-container *ngIf="media.fileType.startsWith('audio/')">
        <audio controls>
          <source [src]="media.contentPath" [type]="media.fileType">
          Your browser does not support the audio element.
        </audio>
      </ng-container>


      <p class="article-description" [innerHTML]="media.description"></p>
      <div class="file-info">
        <span class="file-type">File Type: </span> {{ media.fileType }}
      </div>
      <p class="file-source">File Source: <a [href]="media.contentPath" target="_blank">Download {{ media.fileType }}</a></p>
      <button class="btn btn-primary" (click)="onViewClicked(media._id)">View Content</button>
    </div>
  </div>
</div>
